.presentation_btn {
  width: 60%;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 2.2rem;
  margin-left: 60px;
  text-align: center;
  font-size: medium;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  @media (min-width: 375px) and (max-width: 430px) {
    margin-left: 75px;
  }
  @media (min-width: 599px) and (max-width: 768px) {
    width: 30%;
    margin-left: 260px;
    font-size: large;
  }
  @media (min-width: 780px) and (max-width: 1023px) {
    width: 15%;
    margin-left: 630px;
    font-size: large;
  }
  @media (min-width: 1024px) and (max-width: 1030px) {
    width: 22%;
    margin-left: 400px;
    font-size: large;
  }
  @media (min-width: 1035px) {
    width: 15%;
    margin-left: 630px;
    font-size: large;
  }
  &:hover {
    background-color: black;
    color: white;
  }
}

/*Bouton ajouter au panier*/

.btn {
  width: 60%;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 2.2rem;
  text-align: center;
  font-size: medium;
  margin-top: 2rem;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  @media (min-width: 599px) and (max-width: 768px) {
    width: 58%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
  }
  @media (min-width: 1020px) and (max-width: 1030px) {
    width: 42%;
    font-size: large;
  }
  @media (min-width: 1035px) {
    width: 30%;
    font-size: large;
  }
  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
}

.btn--form {
  width: 85%;
  margin-left: 28px;
  @media (min-width: 599px) and (max-width: 768px) {
    width: 50%;
    margin-top: 2rem;
    margin-left: 12rem;
    font-size: large;
  }
  @media (min-width: 1020px) and (max-width: 1030px) {
    width: 38%;
    margin-left: 19rem;
    font-size: large;
  }
  @media (min-width: 1035px) {
    width: 43%;
    margin-right: 15rem;
    margin-left: 15rem;
    font-size: large;
  }
}
