body {
  font-family: monospace, Courier;
  margin: 0;
}
.presentation_btn {
  width: 60%;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 2.2rem;
  margin-left: 60px;
  text-align: center;
  font-size: medium;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media (min-width: 375px) and (max-width: 430px) {
  .presentation_btn {
    margin-left: 75px;
  }
}
@media (min-width: 599px) and (max-width: 768px) {
  .presentation_btn {
    width: 30%;
    margin-left: 260px;
    font-size: large;
  }
}
@media (min-width: 780px) and (max-width: 1023px) {
  .presentation_btn {
    width: 15%;
    margin-left: 630px;
    font-size: large;
  }
}
@media (min-width: 1024px) and (max-width: 1030px) {
  .presentation_btn {
    width: 22%;
    margin-left: 400px;
    font-size: large;
  }
}
@media (min-width: 1035px) {
  .presentation_btn {
    width: 15%;
    margin-left: 630px;
    font-size: large;
  }
}
.presentation_btn:hover {
  background-color: #000;
  color: #fff;
}
.btn {
  width: 60%;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 2.2rem;
  text-align: center;
  font-size: medium;
  margin-top: 2rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media (min-width: 599px) and (max-width: 768px) {
  .btn {
    width: 58%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
  }
}
@media (min-width: 1020px) and (max-width: 1030px) {
  .btn {
    width: 42%;
    font-size: large;
  }
}
@media (min-width: 1035px) {
  .btn {
    width: 30%;
    font-size: large;
  }
}
.btn:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.btn--form {
  width: 85%;
  margin-left: 28px;
}
@media (min-width: 599px) and (max-width: 768px) {
  .btn--form {
    width: 50%;
    margin-top: 2rem;
    margin-left: 12rem;
    font-size: large;
  }
}
@media (min-width: 1020px) and (max-width: 1030px) {
  .btn--form {
    width: 38%;
    margin-left: 19rem;
    font-size: large;
  }
}
@media (min-width: 1035px) {
  .btn--form {
    width: 43%;
    margin-right: 15rem;
    margin-left: 15rem;
    font-size: large;
  }
}
#error {
  text-align: center;
  margin: 2rem;
}
#error__icon {
  color: #e0532c;
  font-size: 3rem;
}
#error__msg {
  text-align: center;
  font-size: 1.5rem;
}
header {
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }
}
header .logo_content {
  width: 100%;
}
@media (min-width: 768px) {
  header .logo_content {
    width: 50%;
  }
}
header .logo_content > img {
  object-fit: cover;
  width: 100%;
  height: 90px;
}
@media (min-width: 1024px) {
  header .logo_content > img {
    height: 110px;
  }
}
header ul {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
}
@media (min-width: 768px) {
  header ul {
    padding-right: 0px;
    margin-top: 50px;
  }
}
header ul li {
  list-style: none;
  font-size: 25px;
}
@media (min-width: 768px) {
  header ul li {
    margin-right: 30px;
  }
}
header ul li a {
  color: #000;
}
footer {
  background-color: #353535;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    height: 140px;
  }
}
footer a {
  text-decoration: none;
}
footer div {
  display: flex;
  justify-content: space-around;
  margin-left: 90px;
  width: 50%;
}
@media (min-width: 768px) {
  footer div {
    margin-left: -20px;
    width: 30%;
    padding-top: 3.8rem;
    height: 42px;
  }
}
footer div .icon--footer {
  font-size: 25px;
}
footer p {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  footer p {
    margin-top: 58px;
  }
}
#presentation {
  background-color: #353535;
  padding-top: 35px;
  height: 26rem;
  margin-bottom: 3rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #presentation {
    height: 30rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1024px) {
  #presentation {
    height: 35rem;
    margin-bottom: 5rem;
  }
}
#presentation h1 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-top: 70px;
  margin-bottom: -15px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #presentation h1 {
    margin-top: 120px;
  }
}
@media (min-width: 1024px) {
  #presentation h1 {
    margin-top: 160px;
  }
}
#presentation p {
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  #presentation p {
    font-size: 25px;
  }
}
#section_products > h2 {
  text-align: center;
}
@media (min-width: 768px) {
  #section_products > h2 {
    font-size: xx-large;
  }
}
.list-products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}
@media (min-width: 768px) and (max-width: 1020px) {
  .list-products {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1023px) and (max-width: 1030px) {
  .list-products {
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
  }
}
@media (min-width: 1035px) {
  .list-products {
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    width: 70%;
  }
}
.list-products__block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 1.5px 3px 15px #d3cccc;
}
.list-products__block--img img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.list-product__block--info {
  color: #000;
  font-size: medium;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 1023px) {
  .list-product__block--info {
    font-size: 22px;
  }
}
#section_productSelected {
  margin-top: 3rem;
}
#section_productSelected > h2 {
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  #section_productSelected > h2 {
    font-size: xx-large;
  }
}
.block-prod {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid #f3e9f1;
  padding: 0.3rem;
}
@media (min-width: 768px) {
  .block-prod {
    flex-direction: row;
  }
}
.block-prod #productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-prod__description {
  text-align: center;
}
.block-prod__description__head {
  font-size: 1.3rem;
}
@media (min-width: 1030px) {
  .block-prod__description__head {
    font-size: 2rem;
    margin-top: 5rem;
  }
}
.bloc-prod__description__price {
  font-size: 1.3rem;
}
@media (min-width: 1030px) {
  .bloc-prod__description__price {
    font-size: 2rem;
  }
}
@media (min-width: 1030px) {
  #product-description,
  #productPrice {
    font-size: 1.2rem;
  }
}
.basketLink {
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  margin-top: -5px;
}
@media (min-width: 768px) {
  .basketLink {
    margin-top: -8px;
  }
}
.basketLink .countProd {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #b06da1;
  margin-bottom: -16px;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .basketLink .countProd {
    font-size: 1.4rem;
  }
}
.form__group {
  display: flex;
  flex-direction: column;
}
.form__group .input-control {
  margin-bottom: 10px;
  padding: 4px;
}
fieldset {
  display: block;
  margin: 0 auto;
  width: 80%;
}
@media (min-width: 768px) {
  fieldset {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .form__group-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .form__group-block div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1030px) {
  .form__group-block div {
    width: 60%;
    margin-left: -10px;
  }
}
@media (min-width: 1030px) {
  .form__group-block div input {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .form__group-block #form-block-coordonnées {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .form__group-block #form-block-coordonnées .form__group {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
#section_InfoBasket {
  margin-top: 3rem;
}
@media (min-width: 1030px) {
  #section_InfoBasket {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1030px) {
  .form {
    margin-right: -175px;
  }
}
@media (min-width: 1030px) {
  #formNom {
    margin-right: 15px;
    margin-left: -16px;
  }
}
table {
  margin: auto;
  border: none;
  font-size: 0.8rem;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3rem;
  display: table;
  width: 90%;
}
@media (min-width: 1024px) {
  table {
    width: 100%;
  }
}
table tr {
  vertical-align: middle;
  display: table-row;
}
table tr th {
  background-color: #ebebeb;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}
@media (min-width: 768px) {
  table tr th {
    font-size: large;
  }
}
table tr td,
table tr th {
  border: 1px solid #bebebe;
  padding: 10px;
}
@media (min-width: 768px) {
  table tr td,
  table tr th {
    font-size: large;
  }
}
.suppression {
  color: #e0532c;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  #emptyBasket {
    margin-top: 6rem;
  }
}
.order-confirm__topbar h1 {
  text-align: center;
}
.order-confirm__topbar__logo {
  width: 80%;
}
.order-confirm__card {
  border: 3px solid #b06da1;
  margin: 40px auto;
  padding-top: 15px;
  text-align: center;
  box-shadow: 2px 3px 8px #b06da1;
}
@media (min-width: 1024px) {
  .order-confirm__card {
    width: 60%;
    font-size: x-large;
  }
}
.order-confirm__card .fa-check {
  border: 5px solid #b06da1;
  color: #b06da1;
  font-size: 25px;
  border-radius: 100%;
  padding: 5px;
}
@media (min-width: 1024px) {
  .order-confirm__card .fa-check {
    font-size: 45px;
  }
} /*# sourceMappingURL=style.css.map */

.recapitulatif {
  text-align: center;
}

#tableConfirm {
  border: 1px solid #bebebe;
  padding: 15px;
}

#tableConfirm td {
  border: 1px solid #bebebe;
  padding: 10px;
}

@media (min-width: 1024px) {
  #tableConfirm {
    font-size: x-large;
    width: 70%;
  }
  #tableConfirm th {
    font-size: x-large;
  }
  #tableConfirm td {
    font-size: x-large;
  }
}
