footer {
  background-color: $color-presentation;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  & a {
    text-decoration: none;
  }
  & div {
    display: flex;
    justify-content: space-around;
    margin-left: 90px;
    width: 50%;
    & .icon--footer {
      font-size: 25px;
    }
  }
  & p {
    font-size: 20px;
    color: white;
    text-align: center;
  }
}
