.form__group {
  display: flex;
  flex-direction: column;
  & .input-control {
    margin-bottom: 10px;
    padding: 4px;
  }
}

fieldset {
  display: block;
  margin: 0 auto;
  width: 80%;
  @media (min-width: 768px) {
    width: 70%;
  }
}

.form__group-block {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  & div {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

#form-block-coordonnées {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  & .form__group {
    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

#section_InfoBasket {
  @media (min-width: 1030px) {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
  }
}
