.form__group {
  display: flex;
  flex-direction: column;
  & .input-control {
    margin-bottom: 10px;
    padding: 4px;
    @media (min-width: 768px) {
      width: 60%;
    }
  }
}

fieldset {
  display: block;
  margin: 0 auto;
  width: 80%;
}

#form-block-coordonnées {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  & .form__group {
    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: space-evenly;
    }
    & input {
      @media (min-width: 768px) {
        width: 60%;
      }
    }
  }
}
