.order-confirm__topbar h1 {
  text-align: center;
}

.order-confirm__topbar__logo {
  width: 80%;
}

.order-confirm__card {
  //   background-color: aqua;

  margin: 40px auto;
  text-align: center;
  & .fa-check {
    border: 5px solid black;
    color: #e0532c;
    font-size: 25px;
    border-radius: 100%;
  }
}
