.order-confirm__topbar h1 {
  text-align: center;
}

.order-confirm__topbar__logo {
  width: 80%;
}

.order-confirm__card {
  //   background-color: aqua;
  border: 3px solid rgb(176, 109, 161);
  margin: 40px auto;
  padding-top: 15px;
  text-align: center;
  box-shadow: 2px 3px 8px rgb(176, 109, 161);
  @media (min-width: 1024px) {
    width: 60%;
    font-size: x-large;
  }
  & .fa-check {
    border: 5px solid rgb(176, 109, 161);
    color: rgb(176, 109, 161);
    font-size: 25px;
    border-radius: 100%;
    padding: 5px;
    @media (min-width: 1024px) {
      font-size: 45px;
    }
  }
}
