#presentation {
  background-color: $color-presentation;
  margin-top: 20px;
  padding-top: 35px;
  height: 20rem;
  & p {
    text-align: center;
    font-size: 18px;
    color: white;
    @media (min-width: 768px) {
      font-size: 25px;
    }
  }
}
