/*Début_styles page liste de produits*/

#section_products {
  & > h2 {
    text-align: center;
    @media (min-width: 768px) {
      font-size: xx-large;
    }
  }
}

.list-products {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  @media (min-width: 768px) and (max-width: 1020px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1023px) and (max-width: 1030px) {
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
  }
  @media (min-width: 1035px) {
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    width: 70%;
  }
  /*cartes de chaque produit*/
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // border: 4px solid transparent;
    border-radius: 8px 8px 0px 0px;
    @include shadow;
    &--img img {
      width: 100%;
      border-radius: 8px 8px 0px 0px;
    }
  }
}

.list-product__block--info {
  color: black;
  font-size: medium;
  text-align: center;
  margin-bottom: 2rem;
  @media (min-width: 1023px) {
    font-size: 22px;
  }
}
/*Fin_styles page liste de produits*/

/*Début_styles page produit sélectionné*/
#section_productSelected {
  margin-top: 3rem;
  & > h2 {
    font-size: $size-phone-h2;
    text-align: center;
    @media (min-width: 768px) {
      font-size: $size-desktop-h2;
    }
  }
}

.block-prod {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid $color-primary;
  padding: 0.3rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  & #productImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__description {
    text-align: center;
    &__head {
      font-size: 1.3rem;
      @media (min-width: 1030px) {
        font-size: 2rem;
        margin-top: 5rem;
      }
    }
  }
}

.bloc-prod__description__price {
  font-size: 1.3rem;
  @media (min-width: 1030px) {
    font-size: 2rem;
  }
}

#product-description,
#productPrice {
  @media (min-width: 1030px) {
    font-size: 1.2rem;
  }
}

/*Fin_styles page produit sélectionné*/

.basketLink {
  text-decoration: none;
  // background-color: red;
  display: flex;
  flex-direction: column-reverse;
  margin-top: -5px;
  & .countProd {
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin-bottom: -16px;
    margin-left: 4px;
  }
}
