.list-products {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include shadow;
    &--img img {
      width: 100%;
    }
  }
}

.list-product__block--info {
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  & > h2 {
    font-size: 25px;
  }
}
